.m-top-60 {
    margin-top: 65px;
}
.menu-sm {
    font-size: small;
    font-weight: bolder;
}
.max-heigh-carousel {
    max-height: 300px;
    max-width: 800px;
}
.my-card-img {
    max-height: 160px;
}