<app-navbar></app-navbar>
<div class="container m-top-60">
  <div class="row">
    <div class="row-md-3">
      <app-search></app-search>
    </div>
    <div class="row-md-9">
      <div class="row">
        <app-carousel></app-carousel>
      </div>
      <div class="row">
        <app-product></app-product>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>