<div class="container">
  <div class="header-container">
    <div class="data-input-container">
      <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)"
        accept=".csv" />
    </div>
    <div class="big-title">ARK-G</div>
    <br />
    <a href="https://ark-funds.com/investor-resources" target="_blank">Download Fund Materials</a>
  </div>
  <div class="record-container">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="fund">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FUND </th>
          <td mat-cell *matCellDef="let element"> {{element.fund}} </td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> COMPANY </th>
          <td mat-cell *matCellDef="let element"> {{element.company}} </td>
        </ng-container>

        <ng-container matColumnDef="ticker">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TICKER </th>
          <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
        </ng-container>

        <ng-container matColumnDef="cusip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CUSIP </th>
          <td mat-cell *matCellDef="let element"> {{element.cusip}} </td>
        </ng-container>

        <ng-container matColumnDef="shares">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SHARES </th>
          <td mat-cell *matCellDef="let element"> {{element.shares}} </td>
        </ng-container>

        <ng-container matColumnDef="marketValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MARKET VALUE($) </th>
          <td mat-cell *matCellDef="let element"> {{element.marketValue}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> WEIGHT(%) </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>



<!--
<table class="minimalistBlack" *ngIf="records.length > 0">
  <thead>
    <tr>
      <th>DATE</th>
      <th>FUND</th>
      <th>COMPANY</th>
      <th>TICKER</th>
      <th>CUSIP</th>
      <th>SHARES</th>
      <th>MARKET VALUE($)</th>
      <th>WEIGHT(%)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records;let i = index;">
      <td> <span>{{record.date}}</span> </td>
      <td> <span>{{record.fund}}</span> </td>
      <td> <span>{{record.company}}</span> </td>
      <td> <span>{{record.ticker}}</span> </td>
      <td> <span>{{record.cusip}}</span> </td>
      <td> <span>{{record.shares}}</span> </td>
      <td> <span>{{record.marketValue}}</span> </td>
      <td> <span>{{record.weight}}</span> </td>
    </tr>
  </tbody>
</table>
-->

<router-outlet></router-outlet>